@import "../../styles/colors.scss";

.MenuPanelItem {
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
  min-width: 70px;
  text-align: start;
  user-select: none;

  &:hover {
    background-color: $red;
    opacity: 0.75;
  }
}
