@import "../../general/styles/colors.scss";

.Header {
  position: relative;
  width: 100%;
  height: 100%;

  .HeaderBackground {
    filter: blur(2px);
    padding: 2px;
  }

  .HeaderContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .75);
  }

  .Logo {
    position: absolute;
    margin: 15px 40px;
  }

  .TransparentButton {
    position: absolute;
    margin: 25px 40px;
    right: 0;
  }

  .SearchContainer {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;

    .SearchTitle {
      text-transform: uppercase;
      font-size: 25px;
      margin-bottom: 30px;
    }
  }
}
