@import "../../styles/colors.scss";

.FormItemLabel {
  text-transform: uppercase;
  color: $red;
  margin: 15px 0;
  display: block;
  user-select: none;
  cursor: default;
  width: 100%;

  .NotEditableFormItem {
    font-size: 14px;
    color: $white;
    margin: 10px 0;
  }

  .FormItemInput {
    margin: 10px 0;

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}


