@import "../../general/styles/colors.scss";

.FilmsContent {
  background-color: $black;
  padding: 10px 35px 0;

  .SortLabel {
    color: $light-grey;
    user-select: none;
    cursor: default;
  }
}

