@import "../../general/styles/colors.scss";

.ErrorPage {
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  width: 935px;
  text-align: center;
  line-height: 45vh;
  font-size: 30px;
  background-color: $black;
}
