@import "../../styles/colors.scss";

.DropdownContainer {
  position: relative;
  width: 110px;
  text-align: end;

  .MenuPanel {
    text-align: start;

    .Panel {
      margin-top: 10px;
    }
  }
}
